<nav>
	<ul>
			<li><a href='.'>[ Home ]</a></li>
			<li><a href="https://github.com/" target="_blank">[ Github ]</a></li>
			<li><a href='about'>[ About ]</a></li>
			<li><a href='./editor/emacs' class="emacs">[ Emacs ]</a></li>
			<li><a href='./editor/vs-code' class="vs-code">[ VS Code ]</a></li>
			<li><a href='./editor/sublime' class="sublime">[ Sublime ]</a></li>
	</ul>
</nav>

<style>
 nav,
 ul {
		 display: flex;
		 justify-content: center;
 }

 nav {

 }

 ul {
		 padding: 0;
		 margin: 0.2em 0;
		 min-width: 50%;
		 border-bottom: solid 1px rgba(255, 255, 255, 0.4);
 }

 li {
		 list-style: none;
 }

 a {
		 padding: 0 0.5em;
		 text-decoration: none;
		 color:  rgba(255, 255, 255, 0.9);
 }

 a:hover {
		 color: rgba(255, 255, 255, 1);
 }
</style>
